.Button-MainBlue-TextWhite button{
    margin: 10px;       /* 任意指定 */
    padding: 10px 20px;  
    color: #FFF;
    background-color: #1F5199;
    border: 1.5px solid #1F5199;
    border-radius: 10px;/* ボタンの角を丸く */
    cursor: pointer;    /* マウスホバー */
    transition: 0.3s;   /* 変わる時間 */
}
.Button-MainBlue-TextWhite button:hover{
    color: #1F5199;
    background-color: #FFF;
}

.Button-MainWhite-TextBlue button{
    margin: 10px;       /* 任意指定 */
    padding: 10px 20px;  
    color: #1F5199;
    background-color: #FFF;
    border: 1.5px solid #1F5199;
    border-radius: 10px;/* ボタンの角を丸く */
    cursor: pointer;    /* マウスホバー */
    transition: 0.3s;   /* 変わる時間 */
}
.Button-MainWhite-TextBlue button:hover{
    color: #FFF;
    background-color: #1F5199;
}